@page
@model Planeta_Kierowców.Pages.Administracja.EditRolesModel
@{
    ViewData["Title"] = "EditRoles";
    @inject RoleManager<IdentityRole> RoleManager;
}
@{ var roles = RoleManager.Roles; }

<h1>Lista ról</h1>
@if (roles.Any())
{


    foreach (var role in roles)
    {
        <div class="card mb-3">
            <div class="card-header">
                Id Roli: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>

            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-danger">Edytuj</a>
                <a href="#" class="btn btn-danger">Usuń</a>




            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Brak ról do pokazania
        </div>

    </div>
}