@page
@model Planeta_Kierowców.Pages.Administracja.EditRolesModel
@{
    ViewData["Title"] = "EditRoles";
    @inject RoleManager<IdentityRole> RoleManager;
}
@{ var roles = RoleManager.Roles; }

<h1>Lista ról</h1>

    <a asp-page="CreateRole" class="btn btn-info form-control text-white">Utwórz nową rolę</a>

@if (roles.Any())
{


    foreach (var role in roles)
    {
        <div class="card mb-3">
            <div class="card-header">
                Id Roli: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>

            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" onclick="return confirm('Czy na pewno chcesz się pozbyć roli @role.Name z systemu?')" class="btn btn-danger">Usuń</button>
                    </form>



            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Brak ról do pokazania
        </div>

    </div>
}