@page
@model Planeta_Kierowców.Pages.Kalendarz.KalendarzModel
@{
    ViewData["Title"] = "Kalendarz";
    @inject UserManager<ApplicationUser> UserManager;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kalendarz</title>


    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css' type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <br />
                <div id="bootstrapModalFullCalendar"></div>
            </div>
        </div>
    </div>

    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>



    <script type="module">

        $(document).ready(function () {

            $('#bootstrapModalFullCalendar').fullCalendar({
                events: 'https://83.24.197.251:5001/Kalendarz/Kalendarz/?handler=FindAllEvents',
                header: {
                    left: '',
                    center: 'prev title next',
                    right: ''
                },



                eventClick: function (event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#eventUrl').attr('href', event.url);
                    $('#fullCalModal').modal();
                }
            });
        });
    </script>


    <div class="border-container" style="padding:30px;">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="przedzial.Od"></label>
                </div>
                <div class="col-5">
                    <input asp-for="przedzial.Od" class="form-control" />
                </div>
                <span asp-validation-for="przedzial.Od" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="przedzial.Do"></label>
                </div>
                <div class="col-5">
                    <input asp-for="przedzial.Do" class="form-control" />
                </div>
                <span asp-validation-for="przedzial.Do" class="text-danger"></span>
            </div>



            <div class="form-group row">
                <div class="col-3 offset-4">
                    <input type="submit" value="Zarejestruj dostępność" class="btn btn-primary form-control" />
                </div>

            </div>

        </form>
    </div>

</body>
</html>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}