@page
@model Planeta_Kierowców.Pages.Zamówienia.CreateModel
@{
    ViewData["Title"] = "Create";
    @inject UserManager<ApplicationUser> UserManager;
}

<br />
<h2 class="text-info">Dodaj nowe zlecenie</h2>
<br />

<div class="border-container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Miejsce_odbioru"></label>
            </div>
            <div class="col-5">
                <input asp-for="zlecenie.Miejsce_odbioru" class="form-control" />
            </div>
            <span asp-validation-for="zlecenie.Miejsce_odbioru" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Czas_odbioru"></label>
            </div>
            <div class="col-5">
                <input asp-for="zlecenie.Czas_odbioru" class="form-control" />
            </div>
            <span asp-validation-for="zlecenie.Czas_odbioru" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Miejsce_zdania"></label>
            </div>
            <div class="col-5">
                <input asp-for="zlecenie.Miejsce_zdania" class="form-control" />
            </div>
            <span asp-validation-for="zlecenie.Miejsce_zdania" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Czas_zdania"></label>
            </div>
            <div class="col-5">
                <input asp-for="zlecenie.Czas_zdania" class="form-control" />
            </div>
            <span asp-validation-for="zlecenie.Czas_zdania" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Status_zlecenia"></label>
            </div>
            <div class="col-5">
                <input asp-for="zlecenie.Status_zlecenia" class="form-control" />
            </div>
            <span asp-validation-for="zlecenie.Status_zlecenia" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Kierowca_ID"></label>
            </div>
            <div class="col-5">
                
                <select asp-for="zlecenie.Kierowca_ID" asp-items="@(new SelectList(UserManager.Users,"Id","UserName"))">
                    <option>Wybierz kierowcę</option>
                </select>
            </div>
            <span asp-validation-for="zlecenie.Kierowca_ID" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="zlecenie.Koordynator_ID"></label>
            </div>
            <div class="col-5">
                <div>@UserManager.GetUserId(Model.User)</div>
</div>

        </div>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Utwórz" class="btn btn-primary form-control" />
            </div>
            <div class="col-2">
                <a asp-page="Index" class="btn btn-success form-control">Powrót</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}